<div class="animate__animated animate_fadeIn animate__faster">
    <h3>Buscar por región <small>{{regionActiva | titlecase}}</small></h3>
    <hr>

    <h5>Seleccione región</h5>
    <div class="row">
        <div class="col">
            <button *ngFor="let region of regiones" [class]="getClassCSS(region)" (click)="activarRegion(region)">
                {{region | titlecase}}
            </button>
        </div>
    </div>
</div>

<div *ngIf="mostrarEspere" class="alert alert-info">
    Espere por favor...
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>